In [10]:
import numpy as np
import pandas as pd
DATA = pd.read_csv("kmeans.csv", delimiter=',', index_col='Object')

In [11]:
coords = DATA.drop('Cluster', axis=1)

In [12]:
from sklearn.cluster import KMeans

In [13]:
kmeans = KMeans(n_clusters=3, init=np.array([[11.0, 10.33], [11.86, 12.71], [7.2, 12.8]]), max_iter=100, n_init=1)

In [14]:
model = kmeans.fit(coords)

In [15]:
model.labels_.tolist()

[2, 2, 2, 0, 1, 1, 2, 2, 2, 1, 0, 2, 0, 2, 1]

In [16]:
alldistances = kmeans.fit_transform(coords)

In [18]:
DATA['labels'] = model.labels_.tolist()

In [20]:
DATA['distances'] = alldistances.tolist()

In [21]:
DATA

,X,Y,Cluster,labels,distances
Object,,,,,
1,4,8,0,2,"[8.56997342145496, 13.92838827718412, 6.525191..."
2,8,16,1,2,"[10.89852181618121, 9.486832980505138, 2.75283..."
3,4,11,2,2,"[9.718253158075502, 13.152946437965905, 3.7520..."
4,15,8,1,0,"[3.333333333333334, 5.385164807134504, 11.0602..."
5,20,11,1,1,"[9.153020145163985, 3.605551275463989, 14.4940..."
6,20,9,0,1,"[8.232726023485643, 5.0, 15.069111619468481]"
7,7,18,1,2,"[13.131810402394807, 11.180339887498949, 3.915..."
8,8,17,1,2,"[11.822765233978801, 9.848857801796104, 3.4753..."
9,6,18,2,2,"[13.568754958031748, 12.083045973594572, 3.752..."
10,16,16,1,1,"[10.651030205780307, 3.1622776601683795, 10.27..."
11,9,3,1,0,"[4.48454134902457, 12.806248474865697, 11.6759..."
12,9,14,0,2,"[8.666666666666666, 8.06225774829855, 3.134984..."
13,13,7,2,0,"[1.2018504251546565, 7.211102550927978, 10.165..."
14,1,12,2,2,"[12.823589374447563, 16.0312195418814, 5.36918..."
15,12,16,2,1,"[10.005554013202422, 5.830951894845301, 6.3700..."

In [33]:
zeros = DATA[DATA.labels==0]
zeros

,X,Y,Cluster,labels,distances
Object,,,,,
4,15,8,1,0,"[3.333333333333334, 5.385164807134504, 11.0602..."
11,9,3,1,0,"[4.48454134902457, 12.806248474865697, 11.6759..."
13,13,7,2,0,"[1.2018504251546565, 7.211102550927978, 10.165..."

In [35]:
(3.333333333333334+4.48454134902457+1.201850425154656)/3

3.00657503583752

In [34]:
kmeans.cluster_centers_

array([[12.33333333,  6.        ],
       [17.        , 13.        ],
       [ 5.875     , 14.25      ]])