In [1]:
import pandas as pd

In [29]:
train_data = pd.read_csv("test_data.csv", delimiter=',', index_col='id')

In [45]:
X = pd.DataFrame(train_data.drop(['Class'], axis=1))
y = pd.DataFrame(train_data['Class']).values.ravel()

n_neighbors — число соседей; p — используемое расстояние. Манхэттенское расстояние — p=1, евклидово расстояние — p=2.

In [51]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3, p=2)
neigh.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [52]:
NewObject = [20, 48]

In [53]:
neigh.predict([NewObject])

array([1])

In [54]:
neigh.predict_proba([NewObject])

array([[0., 1.]])

In [55]:
neigh.kneighbors([NewObject])

(array([[ 3.16227766, 11.18033989, 23.34523506]]), array([[6, 2, 9]]))

In [32]:
test_data = pd.read_csv("test_data.csv", delimiter=',', index_col='id')
test_data

     X   Y  Class
id
1   52  69      0
2   69  22      0
3   10  43      1
4   34  82      0
5   72  64      0
6   60  69      1
7   23  49      1
8   24  91      0
9   15  83      1
10  16  71      1

In [27]:
X_test = pd.DataFrame(train_data.drop(['Class'], axis=1))
y_test = neigh.predict(X_test)
y_test

array([1, 0, 1, 1, 0, 1, 0, 1, 0, 1])

In [28]:
result = pd.DataFrame()

result['X'] = test_data['X']
result['class'] = y_test
preds = neigh.kneighbors([NewObject])


result

     X  class
id
1   52      1
2   69      0
3   10      1
4   34      1
5   72      0
6   60      1
7   23      0
8   24      1
9   15      0
10  16      1